
$yellow: #f8e9a1;
$coral:	#f76c6c;
$light-blue: #a8d0e6;
$blurple: #374785;
$navy-blue:	#24305e;

.yellow-color {
	color: $yellow;
}
.coral-color {
	color: $coral;
}
.light-blue-color {
	color: $light-blue;
}
.blurple-color {
	color: $blurple;
}
.navy-blue-color {
	color: $navy-blue;
}

.yellow-background-color {
	background-color: $yellow;
}
.coral-background-color {
	background-color: $coral;
}
.light-blue-background-color {
	background-color: $light-blue;
}
.blurple-background-color {
	background-color: $blurple;
}
.navy-blue-background-color {
	background-color: $navy-blue;
}
